<!-- Begin .header -->
<header data-swiftype-index='false' class="site-header app">
	<div class="row">
    <div class="small-24 columns">
      <a href="http://beta.phila.gov/" class="logo">
        <img data-interchange="[//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-mobile.png, small], [//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png, medium]" src="//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png" alt="City of Philadelphia">
      </a>
      <div class="page-title-container">
        <a href="#/">
          <h1 class="page-title">Greenworks Dashboard</h1>
          <!-- <h2 class="page-subtitle">An optional subtitle</h2> -->
        </a>
      </div>
    </div>
  </div>
	<div class="row expanded">
	  <div class="columns">
	    <div class="row">
	      <div class="large-24 columns">
	        <nav>
	          <ul class="breadcrumbs">
	            <li><a href="https://beta.phila.gov">phila.gov</a></li>
	            <li><a href="https://beta.phila.gov/departments/office-of-sustainability/">Office of Sustainability</a></li>
		    {% if session['logged_in'] == False %}
		    <li><a href="https://github.com/login/oauth/authorize?client_id=535c9a645fbc1e48c632&scope=(no scope)">Login</a></li>
		    {% else %}
		    <li><a href="/logout">Logout</a></li>
		    {% endif %}
	            <li>Greenworks Dashboard</li>
	          </ul>
	        </nav>
	      </div>
	    </div>
	  </div>
	</div>
</header>


<!-- Begin header -->
<!-- <header data-swiftype-index='false' class="site-header app">
  <div class="row">
    <div class="small-24 columns">
      <a href="http://alpha.phila.gov/" class="logo">
        <img data-interchange="[//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-mobile.png, small], [//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png, medium]" src="//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png" alt="City of Philadelphia">
      </a>
      <div class="page-title-container">
        <a href="#/">
          <h1 class="page-title">Application Name With a Long Title</h1>
          <h2 class="page-subtitle">An optional subtitle</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="row expanded">
    <div class="small-24 small-centered columns">
      <div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle><span class="title-bar-title">Menu</span></button>
</div> -->
