
<h2>About</h2>

<p>The Greenworks Dashboard is a joint project between the City of Philadelphia's <a>Office of Sustainability](https://beta.phila.gov/departments/office-of-sustainability/programs/greenworks/)</a> and <a>[Office of Open Data and Digital Transformation](https://beta.phila.gov/departments/office-of-the-chief-administrative-officer/functions/office-of-open-data-and-digital-transformation/)</a>.</p>

<p>This dashboard provides easy-to-use responsive visualization tools for viewing data about the eight sustainability visions set in <a>[Greenworks: A Vision for a Sustainable Philadelphia](https://beta.phila.gov/documents/greenworks-a-vision-for-a-sustainable-philadelphia/)</a>.</p>


<b>Note:</b> This data will be updated as available on an ongoing basis.

<h5>How to use</h5>
<p>Click the color blocks in any chart legend to add or remove that data from the chart.</p>
