aside.related{
  border-left: 5px solid #cfcfcf;
}
h6 {
	font-size: .8rem;
	margin-bottom: 0px;
}

/* ANCHOR LINKS
http://ben.balter.com/2014/03/13/pages-anchor-links/ */
.header-link {
  opacity: 0;
  font-size: 80%;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.top {
  /*border-bottom: 1px dotted #a1a1a1;*/
  padding-bottom: 10px;
  margin-bottom: 40px;
}

/*For the back to top button*/
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(173,230,216, 0.5);
  line-height: 3.1rem;
}



/*For the modal content*/
/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* White w/ opacity */
}

.modal-content {
    position: center;
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 5%;
    border: 8px solid #2176d2;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
}
/*form content*/

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* White w/ opacity */
}

.modal-content2 {
    position: center;
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 5%;
    border: 8px solid #2176d2;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.formItems{
  margin-top: 20px;
  margin-bottom: 20px;
}

.formHeader{
    text-align: center;
    font-weight: 600;
    color: #2176d2;
}

.container {
    border-radius: 5px;
    border-color: #2176d2;
    background-color: #f2f2f2;
    padding: 20px;

}

.inner-form-container{
  width: 100%;
  padding: 12px;
  border: 3px solid #96c9ff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 6px;
  /*resize: vertical;*/
}

.input-div{
  display: inline-block;
}

.inputfile {
    display: none;
}

.inputfile + label {
    font-size: 1.25rem;
    padding: 6px;
    font-weight: 700;
    border: 3px solid #96c9ff;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    color: #96c9ff;

}

.inputfile + label:hover {
  color: #2176d2;
  border-color: #2176d2;
}

.graphtypes, .graphtypes-2{
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.graphtypes label{
  color: #96c9ff;
  font-family: verdana, sans-serif;
  font-weight: 700;
}

.graphtypes input, .graphtypes select{
  color: #96c9ff;
  border: 2px solid #96c9ff;
  font-family: verdana, sans-serif;
  border-radius: 5px;
}

.graphtypes input:active, .graphtypes select:active{
  border-color: #2176d2;
}
.graphtypes input:focus, .graphtypes select:focus{
  border-color: #2176d2;
}

.graphtypes textarea{
  color: #96c9ff;
  border: 2px solid #96c9ff;
  font-family: verdana, sans-serif;
  border-radius: 5px;
}

.graphtypes textarea:active{
  border-color: #2176d2;
}
.graphtypes textarea:focus{
  border-color: #2176d2;
}

form label, .alines{
  color: #96c9ff;
  font-family: verdana, sans-serif;
  font-weight: 700;
  display: inline-block;
}

.axisTitle{
  width: 60%;
}

.graphtypes-2 input{
  visibility: hidden;
  position: absolute;
}

.graphtypes-2 label{
  color: #96c9ff;
  font-family: verdana, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  /*line-height: 20px;*/
  margin: 5px;
}

.graphtypes-2 label:before{
  color: #96c9ff;
  font-family: verdana, sans-serif;
  content: "";
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  border: 3px solid #96c9ff;
  display: inline-block;
  /*line-height: 20px;*/
  width: 16px;
  height: 16px;

}

.graphtypes-2 input[type=checkbox]:checked + label:before{
  border: 3px solid #2176d2;
}


.titlesColorChoosers{
  font-size: 1rem;
  color: #96c9ff;
  font-weight: 700;
}


/*BBC*/

label.bbv1{
    border: 15px solid rgba(168, 191, 18, 1);
    background-color: rgba(168, 191, 18, 0.7);
    color: rgba(168, 191, 18, 0.7);
    border-radius: 5px;
}

label.bbv2{
    border: 15px solid rgba(189, 187, 254, 1);
    background-color: rgba(189, 187, 254, 0.7);
    color: rgba(189, 187, 254, 0.7);
    border-radius: 5px;
}

label.bbv3{
    border: 15px solid rgba(254, 148, 144, 1);
    background-color: rgba(254, 148, 144, 0.7);
    color: rgba(254, 148, 144, 0.7);
    border-radius: 5px;
}

label.bbv4{
    border: 15px solid rgba(1, 188, 144, 1);
    background-color: rgba(1, 188, 144, 0.7);
    color: rgba(1, 188, 144, 0.7);
    border-radius: 5px;
}

label.bbv5{
    border: 15px solid rgba(249, 165, 3, 1);
    background-color: rgba(249, 165, 3, 0.7);
    color: rgba(249, 165, 3, 0.7);
    border-radius: 5px;
}

section.radioBBcwrap {
  display: flex;
  flex-flow: row wrap;
}
section.radioBBcwrap > div {
  flex: 1;
  padding: 0.2rem;
}

input[type="radio"]{
  visibility: hidden;
  position: absolute;
}

input[type="radio"]:not(:disabled){
  cursor: pointer;
}

input[type="radio"]:disabled{
  cursor: not-allowed;
}

label.radioBBC {
  height: 100px;
  display: block;
  padding: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
}

input[type="radio"]:disabled + label.radioBBC{
  opacity: 0.25;
}

input[type="radio"].menuopt:checked + label.radioBBC {
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px rgba(150 ,201, 255, 0.9);
}

input[type="radio"].menuoptBBC:checked + label.radioBBC {
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px rgba(150 ,201, 255, 0.9);
}

@media only screen and (max-width: 700px) {
  section.radioBBcwrap {
    flex-direction: column;
  }
}

/*Color Theme Picker*/

section.radioColorThemeswrap{
  display: flex;
  flex-flow: row wrap;
}

section.radioColorThemeswrap > div{
  flex: 1;
  padding: 0.2rem;
}

label.radioColor{
  height: 250px;
  display: block;
  padding: 0.3rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  border: 1px solid #fff;
  border-radius: 5px;
}

label.radioColor p{
  display: block;
  height: 15%;
  width: 100%;
  border: 0px solid #fff;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

input[type="radio"]:disabled + label.radioColor{
  opacity: 0.25;
}

.theme1{background-color: #49A596;}
.theme2{background-color: #FD0E35;}
.theme3{background-color: #A17A74;}
.theme4{background-color: #FF6EFF;}

.theme1 .t1{background-color: #3f83ab;}
.theme1 .t2{background-color: #86C3B4;}
.theme1 .t3{background-color: #C8DCC3;}
.theme1 .t4{background-color: #86d1d1;}
.theme1 .t5{background-color: #F4E3D1;}

.theme2 .t1{background-color: #A020F0;}
.theme2 .t2{background-color: #FF8833;}
.theme2 .t3{background-color: #FFEB00;}
.theme2 .t4{background-color: #3AA655;}
.theme2 .t5{background-color: #02A4D3;}

.theme4 .t1{background-color: #FF9933;}
.theme4 .t2{background-color: #FD5B78;}
.theme4 .t3{background-color: #FFFF66;}
.theme4 .t4{background-color: #CCFF00;}
.theme4 .t5{background-color: #AAF0D1;}

.theme3 .t1{background-color: #4E3A5E;}
.theme3 .t2{background-color: #56887D;}
.theme3 .t3{background-color: #7A89B8;}
.theme3 .t4{background-color: #9E5E6F;}
.theme3 .t5{background-color: #8BA8B7;}

input[type="radio"]:checked + label.radioColor{
  box-shadow: 0px 0px 20px rgba(150 ,201, 255, 0.9);
  border-color: #2176d2;
}

input[type=submit] {
    border: 3px solid #96c9ff;
    color: #96c9ff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.75rem;
    background-color: #ffffff;
}

input[type=submit]:hover {
    border-color: #2176d2;
    color: #2176d2;
}

input[type=text].invalid, textarea.invalid{
	background-color: 2px solid red;
}


/*form content/

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*LOGIN*/

/*form.login {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.login-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

*/

/*rendering styles*/
