<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_includes/head.html' %}
  </head>

  <body>
	{% include '_includes/analytics.html' %}
    <div class="page" id="page">
      {% include '_includes/header.html' %}

      <article data-swiftype-name="body" data-swiftype-type="text">
        <div class="row">
          <div class="large-24 columns ptxl">
            {% include '_includes/index.html' %}
          </div>
        </div>
      </article>
    </div><!-- End #page -->
    {% include '_includes/footer.html' %}
    {% include '_includes/scripts.html' %}
  </body>
</html>
